.bg-blue{
    background: blue;
}

.bg-black{
    background: black;
}

.bg-red{
    background:red;
}

.content-block{
    padding: 1%;
}

.content-top-margin{
    margin: 2% 0 5% 0;
}

.bg-grey{
    background: lightgray;
}

.bg-white{
    background: white;
}


.card-height{
    height: 120%;
}

.margin-auto{
    margin: auto;
    text-align: center;
}

.card-image-width{
    width: 90%;

}

.top-card-center{
     margin: 0 auto; /* Added */

}
ul {
    list-style-type: none;
    margin: 0;padding: 0;

    li {
        background: rgb(238, 238, 238);
        padding: 2em;
        border-radius: 4px;
        margin-bottom: 7px;
        display: grid;
        grid-template-columns: 60px auto;

        p {
            font-weight: bold;
            margin-left: 20px;
        }

        img {
            border-radius: 50%;
            width: 100%;
        }
    }
}

.chicago-size{
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0 0 2% 0%;

}

.text-padding{
    padding: 2% 0 2% 0;
}

.top-row-photo{
    display: block;
    width: 5%;
    height: 5%;

}

.bg-primary {
    background-color: #1abc9c !important;
  }

.bolt-size{
    font-size: 200%;

  }
  .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: white;
    border-radius: 1rem;
    border-color: white;
  }

  .header-title{
    font-size: 300%;
    color: white;
    font-family: "Lucida Console";
    margin: 5% 0 25% 0%;
}
.header-title-2{
    font-size: 100%;
    color: white;
    font-family: "Lucida Console";
    margin: 50% 0 30% 0%;

}

.header-title-3{
    font-size: 100%;
    color: white;
    font-family: "Lucida Console";
    margin: 0% 0 45% 0%;

}
.header-subtext{
    text-align: center;
    font-size: 100%; 
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.header-bar-margin{
    margin: 0 0 0 0;
    background:transparent;
    background-image:none;
    border-color:transparent;
    box-shadow:none;
    float: right;
    text-align: center;
}

.header-background-image{
    background-image: url("../../assets/images/JustinGutingEcuador.JPG");

  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.top-header{
    font-size: 100%;
    color: white;
    font-family: "Lucida Console";
    text-align: right;
    margin: 7% 0 25% 0%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .fab {
    padding: 20px;
    font-size: 30px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    margin: 1% 2px 1% 0;
    border-radius: 50%;
  }
  

  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
  
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

.no-border{
  border: none;
}
.row-text-padding{
  margin: 0% 10% 0% 5%;
}

.bg-primary {
  background-color: #5cdb95;
}
.home-image-padding{
  padding: 0% 23% 0 23%;
  margin: 0 0 15% 0;

}

.portfolio-padding{
  padding: 1% 0 1% 0;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: .5s ease;
}

.white-color-font{
  color: white;
}