@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.bg-blue{
    background: blue;
}

.bg-black{
    background: black;
}

.bg-red{
    background:red;
}

.content-block{
    padding: 1%;
}

.content-top-margin{
    margin: 2% 0 5% 0;
}

.bg-grey{
    background: lightgray;
}

.bg-white{
    background: white;
}


.card-height{
    height: 120%;
}

.margin-auto{
    margin: auto;
    text-align: center;
}

.card-image-width{
    width: 90%;

}

.top-card-center{
    margin: 0 auto; /* Added */

}

ul {
    list-style-type: none;
    margin: 0;padding: 0;

    li {
        background: rgb(238, 238, 238);
        padding: 2em;
        border-radius: 4px;
        margin-bottom: 7px;
        display: grid;
        grid-template-columns: 60px auto;

        p {
            font-weight: bold;
            margin-left: 20px;
        }

        img {
            border-radius: 50%;
            width: 100%;
        }
    }
}

.chicago-size{
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0 0 2% 0%;

}

.text-padding{
    padding: 2% 0 2% 0;
}

.top-row-photo{
    display: block;
    width: 5%;
    height: 5%;

}

.bg-primary {
    background-color: #14a098 !important;
  }

.icon-size{
    font-size: 200%;

  }
  .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: white;
    border-radius: 1rem;
    border-color: white;
  }

  .header-title{
    font-size: 300%;
    color: white;
    font-family: "Lucida Console";
    margin: 5% 0 25% 0%;
}
.header-title-2{
    font-size: 100%;
    color: white;
    font-family: "Lucida Console";
    margin: 50% 0 30% 0%;

}

.header-title-3{
    font-size: 100%;
    color: white;
    font-family: "Lucida Console";
    margin: 0% 0 45% 0%;

}
.header-subtext{
    text-align: center;
    font-size: 100%; 
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.header-bar-margin{
    margin: 0 0 0 0;
    background:transparent;
    background-image:none;
    border-color:transparent;
    box-shadow:none;
    float: right;
    text-align: center;
}

.header-background-image{
    background-image: url("../../assets/images/JustinGutingEcuador.JPG");

  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.top-header{
  font-size: 100%;
  color: white;
  font-family: "Lucida Console";
  text-align: right;
  margin: 7% 0 25% 0%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

// .fab {
//   padding: 20px;
//   font-size: 30px;
//   width: 65px;
//   text-align: center;
//   text-decoration: none;
//   margin: 1% 2px 1% 0;
//   border-radius: 50%;
// }

.fab {
  padding: 20px;
  font-size: 30px;
  width: 65px;
  text-align: center;
  text-decoration: none;
  margin: 1% 2px 1% 0;
  border-radius: 50%;
  color: black;
}
  
  .fab:hover {
    background-color: white;

}

.no-border{
  border: none;
}
.row-text-padding{
  margin: 0% 10% 0% 5%;
}

.bg-primary {
  background-color: #14a098;
}


.home-image-padding{
  padding: 0% 23% 0 23%;
  margin: 0 0 15% 0;

}

.portfolio-padding{
  padding: 1% 0 1% 0;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: .5s ease;
}

.white-color-font{
  color: white;
}
.footer-margin{
  margin: 3% 0 0 0;

}

.idea-paragraph{
  font-size: 700%;
  font-style: bold;
  padding: 0 10% 0 10%;
  background: black;
  color: white;
}

.roboto-mono{
  font-family: 'Roboto Mono', monospace;
}

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  animation-duration:2s;
}
