<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<!-- About Section -->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="text-padding">

    <!-- About Section Heading -->
    <h1 class="page-section-heading text-center text-uppercase text-white">Portfolio</h1>
    <div class="margin-auto">
      <i class="fas bolt-size fa-bolt"></i>
    </div>
    <br>
    <br>

    <div class="row">
      <div class="col-lg-4 margin-auto">
        <h2 class="page-section-heading text-center text-uppercase text-white">Front End</h2>
      </div>
      <div class="col-lg-4 margin-auto">
        <h2 class="page-section-heading text-center text-uppercase text-white">Back End</h2>
      </div>
      <div class="col-lg-4 margin-auto">
        <h2 class="page-section-heading text-center text-uppercase text-white">Troubleshooting and Hardware</h2>
      </div>
    </div>

    <!-- About Section Content -->
    <div class="row">
      <div class="col-lg-4 margin-auto">
        <p class="lead">Experienced User Interface Designer and User Experience Consultant. Platforms include Google
          Android Applications, Apple iOS Applications, and scalable Web Applications and Websites.</p>
      </div>
      <div class="col-lg-4 margin-auto">
        <p class="lead">Built, consulted, and Troubleshot Web Services, API's, and backend services. Created and
          configured intertactions to and from databases using NRQL, WQSL, and WDQL.</p>
      </div>
      <div class="col-lg-4 margin-auto">
        <p class="lead">Maintained and uplifted Microsoft Outlook Exchange servers and Active Directory servers,
          trouleshot printers, Apple and PC computers, wireless devices, WiFi routers and servers, build high-performing
          desktop computers. </p>
      </div>
    </div>
  </div>
</section>

<h2 class="card-text margin-auto text-padding">Programming Languages
</h2>

<div class="row">
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/c-logo.png">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid"
      src="../../assets/images/kisspng-c-programming-language-logo-microsoft-visual-stud-atlas-portfolio-5b89919299aab1.1956912415357423546294.jpg">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/c-programming-language-500x500.png">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/Java-logo-490x301.jpg">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/javascript.png">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/typescript.svg">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/mzl.huoealqj.png">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/xsltimage.png">
  </div>
</div>

<h2 class="card-text margin-auto text-padding">Platforms and Technologies
</h2>

<div class="row">
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/new-relic.jpg">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/sslcertificates.png">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/splunk.jpg">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/microsicon.jpg">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/Support_Computer_Device_Tools_Repair_Configure_PC-512.png">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/microsoftactivedirectory.jpg">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/Angular_full_color_logo.svg.png">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/Boostrap_logo.svg.png">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/WorkdayPhoto.png">
  </div>
  <div class="col-md-1 margin-auto no-border">
    <img class="img-fluid" src="../../assets/images/api-icon.png">
  </div>
</div>

<h2 class="card-text margin-auto text-padding">Currently living in Chicago, Illinois
</h2>

<div class="row">
  <div class="col-lg-9 margin-auto no-border chicago-size">
    <img class="img-fluid" src="../../assets/images/ChicagoIl.jpg">
  </div>
</div>

<!-- About Section -->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="text-padding">

    <!-- About Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

    <div class="margin-auto">
      <i class="fas bolt-size fa-bolt"></i>
    </div>

    <!-- About Section Content -->
    <div class="row">
      <div class="col-lg-3 margin-auto">
        <img class="card-img-top card-image-width"
          src="../../assets/images/Nationwide_Mutual_Insurance_Company_logo.svg.png" alt="Card image cap">
        <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the
          complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
          customization.</p>
      </div>
      <div class="col-lg-3 margin-auto">
        <img class="card-img-top card-image-width" src="../../assets/images/Kent State.png" alt="Card image cap">
        <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the
          complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
          customization.</p>
      </div>
      <div class="col-lg-3 margin-auto">
        <img class="card-img-top card-image-width" src="../../assets/images/cedarfairicon.jpg" alt="Card image cap">
        <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the
          complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
          customization.</p>
      </div>
      <div class="col-lg-3 margin-auto">
        <img class="card-img-top card-image-width" src="../../assets/images/huron_logo.jpg" alt="Card image cap">
        <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the
          complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
          customization.</p>
      </div>
    </div>
  </div>
</section>

<h2 class="card-text margin-auto text-padding">Learn the technologies I used to build this Single Page Web Application
</h2>

<div class="row">
  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5wtnKulcquA" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gqOEoUR5RHg" allowfullscreen></iframe>
    </div>
  </div>
</div>